<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <div class="container">
    {% autoescape off %}


    <h1>Password Reset on ADi meals mobile!</h1><br><br>

    <p>Hello {{name | capfirst}},</p><br>
    
    <p>Please, reset password with the link provided below.</p><br>
    
    <p>Password Reset link: <a http://{{domain}} href= "{% url 'authentication:activate2' uidb64=uid token=token %}">Click me</a></p><br>

    <p>If you did not request for a password reset link, please ignore.</p>{{name}}
    

    {% endautoescape %}


    </div>
   </body>
</html>

