.btn-success:hover{

color: black;
background-color: yellowgreen;

}

.btn-success{
    color: black;
    background-color: yellowgreen;
    }

h1{

    font-family: "Bangers";
    font-size: 100px;
    color: lawngreen;
    text-align: center;
       
}
        