

<title>Thank you page!</title>


<h2>Wasere padi mi</h2>
<h2>Thanks for your patronage.</h2><br><br><br><br><br>

<button type="button" class="btn btn-success" onClick="window.location='{% url 'home' %}';">Back home!</button>
<button type="submit" class="btn btn-success" onClick="window.location='{% url 'landing_page' %}';"><strong>Back home!</strong></button><br><br>


{% comment "" %}
#class address(models.Model):
#    country = models.CharField(max_length=30)
#    state = models.CharField(max_length=30)
#    city = models.CharField(max_length=50)
#    street_name = models.CharField(max_length=100)
{% endcomment %}
